# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# OSX
.DS_Store

# altair files
altair*

nlp/data/linkedin/Account Status History.csv

nlp/data/linkedin/Ad_Targeting.csv

nlp/data/linkedin/Ads Clicked.csv

nlp/data/linkedin/Articles/Articles/hoe-kijk-jij-tegen-de-ontwikkeling-van-kunstmatige-daniel-kapitan.html

nlp/data/linkedin/Articles/Articles/houd-toezicht-op-de-glazen-algoritme-bol-daniel-kapitan.html

nlp/data/linkedin/Causes You Care About.csv

nlp/data/linkedin/Comments.csv

nlp/data/linkedin/Company Follows.csv

nlp/data/linkedin/Connections.csv

nlp/data/linkedin/Contacts.csv

nlp/data/linkedin/Education.csv

nlp/data/linkedin/Email Addresses.csv

nlp/data/linkedin/Endorsement Received Info.csv

nlp/data/linkedin/Hashtag_Follows.csv

nlp/data/linkedin/Honors.csv

nlp/data/linkedin/Inferences_about_you.csv

nlp/data/linkedin/Invitations.csv

nlp/data/linkedin/Jobs/Job Seeker Preferences.csv

nlp/data/linkedin/Jobs/Online Job Postings.csv

nlp/data/linkedin/Jobs/Saved Jobs.csv

nlp/data/linkedin/Languages.csv

nlp/data/linkedin/Logins.csv

nlp/data/linkedin/Member_Follows.csv

nlp/data/linkedin/messages.csv

nlp/data/linkedin/Mobile Applications.csv

nlp/data/linkedin/PhoneNumbers.csv

nlp/data/linkedin/Positions.csv

nlp/data/linkedin/Profile.csv

nlp/data/linkedin/Projects.csv

nlp/data/linkedin/Publications.csv

nlp/data/linkedin/Reactions.csv

nlp/data/linkedin/Receipts.csv

nlp/data/linkedin/Recommendations Given.csv

nlp/data/linkedin/Recommendations Received.csv

nlp/data/linkedin/Registration.csv

nlp/data/linkedin/Rich Media.csv

nlp/data/linkedin/Saved_Items.csv

nlp/data/linkedin/SavedJobAlerts.csv

nlp/data/linkedin/SearchQueries.csv

nlp/data/linkedin/Security Challenges.csv

nlp/data/linkedin/Shares.csv

nlp/data/linkedin/Skills.csv

nlp/data/linkedin/Teammates.csv

nlp/data/linkedin/Videos.csv

nlp/data/linkedin/Votes.csv

nlp/data/RestoReviewRawdata.csv

nlp/data/RestoReviewRawdata.parquet
